.w1230{
    width: 1230px!important;
    margin: 0 auto;
    height: auto;
}
/* 鼠标置于其上上移且显示阴影 */
.floatUp {
    position: relative;
    top: 0px;
    transition: all 0.2s linear;
}
.floatUp:hover {
    position: relative;
    top: -2px;
    box-shadow: -5px 5px 25px -5px rgba(20, 20, 20, 0.3);
}
.floatLeft {
    float: left!important;
}
.floatRight {
    float: right!important;
}
/* 左上角的标签语 */
.label {
    position: absolute;
    top: 25px;
    left: -16px;
    display: block;
    /* width: 300px; */
    height: 30px;
    padding: 0 15px 0 30px;
    line-height: 30px;
    font-size: 16px;
    background-color: #18d2f3;
    border-radius: 0 3px 3px 0;
}
.label i {
    /* 三角形 */
    position: absolute;
    top: 30px;
    left: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border: 8px solid transparent;
    border-top-color: #10899e;
    border-right-color: #10899e;
}

.level-center {
    text-align: center!important;
}
/* 禁用表示 */
.disabled {
    cursor: not-allowed;
}